.card{
    width: 60%;
    margin: auto;
    padding: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    font-family: sans-serif;
}
h1{
    font-weight: lighter;
}
form{
    width: 70%;
}
input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
}
.result{
    margin-left: 40px;
}
button{
    padding: 10px;
}